
#copperfeed {
    border: 1px solid #ccc;
    background-color: #e7e7e7;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

#copperfeed .status {
    text-align: center;
}

#copperfeed .header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}

#copperfeed .header > :first-child { margin-top: 0; }
#copperfeed .header > :last-child { margin-bottom: 0; }

#copperfeed .content {
    overflow-y: scroll;
    flex-grow: 1;
}

#copperfeed .item {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 10px;
    margin: 10px;
}

#copperfeed .item > :first-child { margin-top: 0; }
#copperfeed .item > :last-child { margin-bottom: 0; }

#copperfeed .title {
    font-weight: bold;
    font-size: 1em;
}

#copperfeed .description {
}
